<%- include ../includes/header.ejs %>
<!--<a class="INFO" href="help/data.php">Preparing your data</a>&nbsp;-->
<!--Examples:-->
<!--<a class="INFO" href="data/Flu.fasta">Influenza A H5N1 hemagluttinin</a>&nbsp;-->
<!--<a class="INFO" href="data/pol.nex">HIV-1 pol (recombinant data)</a>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<div class="container">
  <h2 class="page-header">HIV Clustering</h2>

  <div id="form-error" class="alert alert-danger" <%if (typeof errors == "undefined") { %>style="display: none;"<% } %>>
      There were errors with your request. Errors are highlighted in red.
  </div>
  <div class="nav nav-list pull-right col-sm-4"><a href="/help" target="_blank">I'm confused</a></div>
  <form role="form" class="form-horizontal upload-form" name="uploadform" enctype="multipart/form-data" action="/hivcluster" method="post">
      <div class="form-group <%if (typeof errors != "undefined" && typeof errors.file != "undefined") { %>has-error<% } %>">
        <label id="upload-file-label" class="control-label">Choose a sequence alignment<a href="/help#data-formats" target="_blank"><sup>?</sup></a></label> 
        <input type="file" name="files">
        <%if (typeof errors != "undefined" && typeof errors.file != "undefined") { %><span class="help-block"> <%= errors.file %> </span><% } %>
      </div>
      <div class=" form-group <%if (typeof errors != "undefined" && typeof errors.distance_threshold != "undefined") { %>has-error<% } %>">
        <label id="datatype-content" class="control-label">Distance Threshold<a href="/help#data-types" target="_blank"><sup>?</sup></a></label> 
        <input class="form-control" name="distance_threshold" type="text" placeholder=".015" data-min=<%= validators.distance_threshold.min %> data-max=<%= validators.distance_threshold.max %>>
      </div>
      <div class="form-group <%if (typeof errors != "undefined" && typeof errors.min_overlap != "undefined") { %>has-error<% } %>">
        <label id="datatype-content" class="control-label">Minimum Overlap<a href="/help#data-types" target="_blank"><sup>?</sup></a></label> 
        <input class="form-control" name="min_overlap" type="text" placeholder="500"data-min=<%= validators.min_overlap.min %> data-max=<%= validators.min_overlap.max %>>
      </div>
      <div class="form-group">
        <label class="control-label">Handle Ambiguities<a href="/help#genetic-code" target="_blank"><sup>?</sup></a></label>
        <select name="ambiguity_handling">
          <option value="RESOLVE">
            Resolve
          </option>
          <option selected="selected" value="AVERAGE">
            Average
          </option>
          <option value="SKIP">
            Skip
          </option>
          <option value="GAPMM">
            GAPMM
          </option>
        </select> 
      </div>
      <div class="form-group <%if (typeof errors != "undefined" && typeof errors.mail != "undefined") { %>has-error<% } %>">
        <label id="datatype-content" class="control-label">Notify When Completed? <a href="/help#data-types" target="_blank"><sup>?</sup></a></label> 
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox">
          </span>
          <input type="text" class="form-control">
        </div>
      </div><!-- /form-group -->
      <div class="form-group">
        <label class="checkbox">
          <input type="checkbox" checked name="public_db_compare" value="yes"> Compare to Public Database</input>
        </label>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Upload</button>
  </form>
</div>
<%- include ../includes/footer.ejs %>
<script src="/assets/js/hivcluster/form.js"></script>
