<%- include("../includes/header.ejs") %>

<div class="container">
  <%- include("header.ejs") %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <h5><i class="fa fa-info-circle"></i> Tag Branches for difFUBAR Analysis</h5>
        <p>
          Select branches to assign to different rate categories. You need at least two different groups:
        </p>
        <ul>
          <li><strong>Group 1 (ω1):</strong> First set of branches for comparison</li>
          <li><strong>Group 2 (ω2):</strong> Second set of branches for comparison</li>
          <li><strong>Background:</strong> Remaining branches (untagged)</li>
        </ul>
        <p>
          Use the dropdown menu to create and switch between different branch groups. 
          Click on branches in the tree to assign them to the currently selected group.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5 class="phylotree-header">Select Branch Groups for difFUBAR</h5>
      <div class="container" id="branch-selection-container"></div>
    </div>
  </div>
</div>

<%- include("../includes/modal.ejs") %>
<%- include("../includes/footer.ejs") %>

<script>
  // Get trees from the analysis
  var user_tree = "<%= difFubar.msa[0].usertree %>"
  user_tree == 'undefined' ? user_tree = undefined : null
  var nj_tree = "<%= difFubar.msa[0].nj %>"

  // Create callback for posting annotated tree
  datamonkey_post_annotated_tree = function (annotated_tree, branch_sets) {
    var formData = new FormData();
    formData.append('nwk_tree', annotated_tree);
    formData.append('branch_sets', JSON.stringify(branch_sets));

    var xhr = new XMLHttpRequest();
    var id = "<%= difFubar._id %>"
    xhr.open('post', '/difFubar/' + id + '/select-foreground', true);
    
    xhr.onload = function(res) {
      var result = JSON.parse(this.responseText);
      if('_id' in result.difFubar) {
        window.location.href = '/difFubar/' + result.difFubar._id;
      } else if ('error' in result) {
        datamonkey.errorModal(result.error);
      }
    };
    
    xhr.onerror = function() {
      datamonkey.errorModal('Network error occurred while saving branch selection');
    };
    
    xhr.send(formData);
  }

  // Initialize the multi-branch selection component
  render_multibranch_selection(
    "branch-selection-container", 
    user_tree, 
    nj_tree, 
    datamonkey_post_annotated_tree, 
    800, 
    600, 
    false
  );
  
  // Enable Bootstrap dropdown functionality
  $('.dropdown-toggle').dropdown();
</script>