<%- include ../includes/header.ejs %>

<div class="container">

  <%- include header.ejs %>
  <h2 class="page-header">Analysis Options</h2>
  <div id="dm-branch-form" data-id="<%= fel._id %>"></div>

</div>

<%- include ../includes/modal.ejs %>
<%- include ../includes/footer.ejs %>

<script>

  $(document).ready(function() {

    var id = $("#dm-branch-form").data("id");

    d3.json( "/fel/" + id, function(err, results) {

      // check number of partitions and supply to branch_selection component
      var msa = results.msa[0];
      var trees = {};

      trees.user_supplied = msa.usertree;
      trees.neighbor_joining = msa.nj;
      trees.partition_info = msa.partition_info;
      branch_selection(trees, 'fel', 'dm-branch-form');

    });

  });

</script>

