<%- include ../includes/header.ejs %>

<div class="container">

  <%- include header.ejs %>
  <div id="form-error" class="alert alert-danger" <%if (typeof errors == "undefined") { %>style="display: none;"<% } %>>
      There were errors with your request. Errors are highlighted in red.
  </div>
  <!--File Progress Bar-->
  <div id="file-progress" class="progress active d-none">
    <div id = "upload-progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="1" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">Progress bar</span>
    </div>
    <div id = "fasta-progress" class="progress-bar progress-bar-warning" role="progressbar" aria-valuemin="1" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">FASTA bar</span>
    </div>
    <div id = "attribute-progress" class="progress-bar progress-bar active" role="progressbar" aria-valuemin="1" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">Attribute bar</span>
    </div>
  </div>
  <!--End File Progress Bar-->

  <div class="row">
    <div class="col-sm">
      <form role="form" class="form-horizontal" name="uploadform" enctype="multipart/form-data" method="post" action="/hivtrace/uploadfile/">
        <div id="trace-upload" class="form-group <%if (typeof errors != "undefined" && typeof errors.file != "undefined") { %>has-error<% } %>">
          <div class="row">
            <div class="col-lg-3 align-self-center">
              <label id="upload-file-label" class="control-label m-0">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                   data-title = "Viral sequences"
                   data-content="A FASTA file, with <b>nucleotide</b> sequences to be analyzed. Each sequence will be aligned to the chosen reference sequence prior to network inference. 
                   Sequence names may include munged attributes, e.g. ISOLATE_XYZ|2005|SAN DIEGO|MSM">
                </i>
                Sequence file
              </label>
            </div>
            <div class="col-lg-9">
              <div id="seq-file-div">
                <div id="upload-file-buttons">
                  <label id="fasta-button" class="dm-btn dm-btn-primary btn btn-primary m-0"><input id="seq-file" type="file" name="files" style="display:none;">Select unaligned FASTA File</label>
                  <label id="aligned-fasta-button" class="dm-btn dm-btn-primary btn btn-primary m-0"><input id="aligned-seq-file" type="file" name="aligned_files" style="display:none;">Select aligned FASTA File</label>
                  <span class='label label-default' id="upload-file-info"></span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Form Group-->
  
        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <label class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                  data-title = "Reference sequence"
                  data-content="The sequence that will be used to align everything else to. 
                  It is assumed that the input sequences are in fact homologous to the reference and do not have too much indel variation.">
                </i>           
                Reference
              </label>
            </div>
            <div class="col-lg-2">
              <select name="reference" id = "trace-reference-selector">
                <option value="HXB2_pol" data-dram = "True" data-help_text = "HXB2 polymerase <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_pol</option>
                <option value="NL4-3_prrt" data-help_text = "NL4-3 protease and reverse transcriptase">NL4-3_prrt</option>
                <option value="HXB2_tat" data-help_text = "HXB2 tat <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>" >HXB2_tat</option>
                <option value="HXB2_int" data-help_text = "HXB2 integrase <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_int</option>
                <option selected="selected" data-can_compare = "True" data-dram = "True" value="HXB2_prrt" data-help_text = "HXB2 protease and reverse transcriptase <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[protease + P51, see coordinates]</a>">HXB2_prrt</option>
                <option value="HXB2_pr" data-dram = "True" data-help_text = "HXB2 protease <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_pr</option>
                <option value="HXB2_vif" data-help_text = "HXB2 vif <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>" >HXB2_vif</option>
                <option value="HXB2_nef" data-help_text = "HXB2 nef <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_nef</option>
                <option value="HXB2_vpu" data-help_text = "HXB2 vpu <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_vpu</option>
                <option value="HXB2_rev" data-help_text = "HXB2 rev <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_rev</option>
                <option value="HXB2_vpr" data-help_text = "HXB2 vpr <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_vpr</option>
                <option value="HXB2_env" data-help_text = "HXB2 envelope (CDS) <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_env</option>
                <option value="HXB2_gag" data-help_text = "HXB2 gag <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[see coordinates]</a>">HXB2_gag</option>
                <option value="HXB2_rt" data-dram = "True" data-help_text = "HXB2 reverse transcriptase <a class = 'alert-link' href = 'http://www.hiv.lanl.gov/components/sequence/HIV/search/help.html#region' target = '_blank'>[P51, see coordinates]</a>">HXB2_rt</option>
                <option value="Custom" data-help_text = "User-specified reference (must be in frame)">Custom</option>
              </select>
            </div>
            <div class="col-lg-5">
              <p class = "text-info text-right" id = 'trace-reference-selector-help'></p>
            </div>
          </div>
        </div>
      
        <div class="form-group" id="reference_stripping">
          <div class="row">
            <div class="col-lg-3">
              <label class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                  data-title = "Handle possible contaminants"
                  data-content="What should be done if query sequences belong to the same cluster as the reference. If the reference is a database/lab strain (e.g. HXB2), such sequences are likely mislabeled/contaminated.">
                </i>    
                Contaminant screen
              </label>
            </div>
            <div class="col-lg-2">
              <select name="reference_strip"  id='trace-reference-strip'>
                <option value="no" data-help_text="Do nothing">
                  None
                </option>
                <option  value="report" data-help_text ="Flag all sequences sharing a cluster with the reference">
                  Report
                </option>
                <option selected="selected"  value="remove" data-help_text="Remove all sequences sharing a cluster with the reference">
                  Remove
                </option>
              </select>
            </div>
            <div class="col-lg-5">
                <p class="text-info text-right" id='trace-reference-strip-help'></p>
            </div>
          </div>
        </div>
        
        <div id="trace-reference-upload" class="form-group hide <%if (typeof errors != "undefined" && typeof errors.file != "undefined") { %>has-error<% } %>">
          <label id="upload-reference" class="col-lg-3 control-label">Upload Your Own Reference</label>
            <div id="reference-file-div" class="col-lg-9">
              <input id="reference-file" type="file" name="files">
            </div>
        </div>

        <div class="form-group <%if (typeof errors != "undefined" && typeof errors.distance_threshold != "undefined") { %>has-error<% } %>">
          <div class="row">
            <div class="col-lg-3">
              <label id="datatype-content" class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                  data-title = "Maximal pairwise distance [<%= validators.distance_threshold.min %>,<%= validators.distance_threshold.max %>]"
                  data-content="Two sequences will be connected with a putative link (subject to filtering, see below), if and only if their pairwise distance does not exceed this threshold.">
                </i>           
                Distance Threshold
              </label>
            </div>
            <div class="col-lg-7">
              <input class="form-control" name="distance_threshold" type="text" placeholder=<%= validators.distance_threshold.default%> data-min=<%= validators.distance_threshold.min %> data-max=<%= validators.distance_threshold.max %>>
            </div>
          </div>
        </div>

        <div class="form-group <%if (typeof errors != "undefined" && typeof errors.min_overlap != "undefined") { %>has-error<% } %>">
          <div class="row">
            <div class="col-lg-3 align-self-center">
              <label id="datatype-content" class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                    data-title = "Minimum pairwise overlap [<%= validators.min_overlap.min %>,<%= validators.min_overlap.max %>]"
                    data-content="Only sequences who overlap by at least this many non-gap characters will be included in distance calculations. Be sure to adjust this based on the length of the input sequences. 
                    You should aim to have at least 2/(distance threshold) aligned characters.">
                </i>           
                Minimum Overlap
              </label>
            </div>
            <div class="col-lg-7">
              <input class="form-control" name="min_overlap" type="text" placeholder=<%= validators.min_overlap.default %> data-min=<%= validators.min_overlap.min %> data-max=<%= validators.min_overlap.max %>>
            </div>
          </div>
        </div>


        <div class="form-group" id="edge_filtering">
          <div class="row">
            <div class="col-lg-3">
              <label class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                  data-title = "Remove spurious connections"
                  data-content="Use a phylogenetic test of conditional independence on each triangle in the network to remove spurious <i>transitive</i> connections which make A&rarr;B&rarr;C chains look like A-B-C triangles. ">
                </i>    
                Filter edges
              </label>
            </div>
            <div class="col-lg-2">
                <select name="filter_edges"  id='trace-filter-selector'>
                  <option value="no" data-help_text="Do not perform filtering">
                    No
                  </option>
                  <option value="report" data-help_text="Annotate spurious edges in the inferred network">
                    Report
                  </option>
                  <option selected="selected" value="remove" data-help_text="Remove spurious edges from the inferred network">
                    Remove
                  </option>
                </select>
            </div>
            <div class="col-lg-5">
                <p class="text-info text-right" id='trace-filter-selector-help'></p>
            </div>
          </div>
        </div>
        
        
        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <label class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                        data-title = "Procedure for handling IUPAC ambiguities"
                        data-content="<dl>
                                     <dt>Resolve</dt><dd>count any resolutions that match as a perfect match</dd>
                                     <dt>Average</dt><dd>average all possible resolutions</dd>
                                     <dt>Skip</dt><dd>skip all positions with ambiguities</dd>
                                     <dt>GAPMM</dt><dd>Count character-gap positions as 4-way mismatches, otherwise same as average</dd>
                                      </dl>">
                 </i>    
                  Handle Ambiguities
              </label>
            </div>
            <div class="col-lg-3">
              <select name="ambiguity_handling" id="trace-ambiguity-selector">
                <option selected="selected" value="RESOLVE" 
                  data-help_text="
                      <div class='row'>
                          <div class = 'col-lg-3'>
                              <code>A-CGR-</code>
                              <br> <code>R-CTTG</code> 
                          </div>
                          <div class = 'col-lg-1' style = 'font-size: 200%; ' >
                              &rArr; 
                          </div>
                          <div class = 'col-lg-8'>
                              <code>ACG(&frac12;A &frac12;G)</code><br>
                              <code>ACT(&nbsp;T &nbsp;T)</code> 
                              
                          </div>
                      </div>
                 "> 
                                  
                  Resolve
                </option>
                <option value="AVERAGE"
                      data-help_text = "
                      <div class = 'row'>
                          <div class = 'col-lg-3'>
                              <code>A-CGR-</code>
                              <br> <code>R-CTTG</code> 
                          </div>
                          <div class = 'col-lg-1' style = 'font-size: 200%; ' >
                              &rArr; 
                          </div>
                          <div class = 'col-lg-8'>
                              <code>(&nbsp;A &nbsp;A)CG(&frac12;A &frac12;G)</code><br>
                              <code>(&frac12;A &frac12;G)TT(&nbsp;T &nbsp;T)</code> 
                              
                          </div>
                      </div>
                 "> 
                  Average
                </option>
                <option value="SKIP"
                      data-help_text = "
                      <div class = 'row'>
                          <div class = 'col-lg-3'>
                              <code>A-CGR-</code>
                              <br> <code>R-CTTG</code> 
                          </div>
                          <div class = 'col-lg-1' style = 'font-size: 200%; ' >
                              &rArr; 
                          </div>
                          <div class = 'col-lg-8'>
                              <code>CG</code><br>
                              <code>TT</code> 
                              
                          </div>
                      </div>
                 "> 
                  Skip
                </option>
                <option value="GAPMM"                        
                      data-help_text = "
                      <div class = 'row'>
                          <div class = 'col-lg-3'>
                              <code>A-CGR-</code>
                              <br> <code>R-CTTG</code> 
                          </div>
                          <div class = 'col-lg-1' style = 'font-size: 200%; ' >
                              &rArr; 
                          </div>
                          <div class = 'col-lg-8'>
                              <code>(&nbsp;A &nbsp;A)CG(&frac12;A &frac12;G)(&frac14;A &frac14;C &frac14;G &frac14;T)</code><br>
                              <code>(&frac12;A &frac12;G)TT(&nbsp;T &nbsp;T)(&nbsp;G &nbsp;G &nbsp;G &nbsp;G)</code> 
                              
                          </div>
                      </div>
                 "> 

                  GAPMM
                </option>
              </select>
            </div>
            <div class="col-lg-4" id="trace-ambiguity-selector-help"></div>
          </div>
        </div>
        
        
        <div id="fraction" class="form-group <%if (typeof errors != "undefined" && typeof errors.distance_threshold != "undefined") { %>has-error<% } %>">
          <div class="row">
            <div class="col-lg-3">
              <label id="datatype-content" class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                      data-title = "Handling sequences with many ambiguities"
                      data-content="<p class = 'text-danger'>Affects <em>only</em> the <b>Resolve</b> option for handling ambiguities </p>
                                    Any sequence with no more than the selected proportion [<%= validators.fraction.min %> - <%= validators.fraction.max %>] will have its ambiguities resovled (if possible), and 
                                    ambiguities in sequences with higher fractions of them will be averaged. This mitigates spurious linkages due to highly ambiguous sequences.">
                </i>   
                Ambiguity Fraction
              </label>
            </div>


            <div class="col-lg-7">
              <input class="form-control" name="fraction" type="text" placeholder=<%= validators.fraction.default %> data-min=<%= validators.fraction.min %> data-max=<%= validators.fraction.max %>>
              <div id="fraction-notification" class="alert alert-info hide"> This setting only applies when ambiguity resolution is set to <b>Resolve</b></div>
            </div>
          </div>
        </div>


        <div class="form-group" id="dram">
          <div class="row">
            <div class="col-lg-3">
              <label class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                  data-title="Drug resistance associated mutations"
                  data-content="How to handle analyses of proteins (HIV-1 pr and/or RT only) which include drug resistance associated positions.">
                </i>    
                Remove DRAMS
              </label>
            </div>
            
            <div class="col-lg-2">
                <select name="strip_drams"  id = 'trace-dram-selector'>
                  <option selected="selected" value="no" data-help_text = "Use all sites in pairwise distance calculations">
                    No
                  </option>
                  <option value="lewis" data-help_text = "Mask (with ---) the list of codon sites defined in  <a href = 'http://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.0050050' target = '_blank'> Lewis et al </a>">
                    Yes, using Lewis
                  </option>
                  <option value="wheeler" data-help_text = "Mask (with ---) the list of codon sites defined in  <a href = 'http://www.ncbi.nlm.nih.gov/pubmed/20395786' target = '_blank'> Wheeler et al </a>">
                   Yes, using Wheeler
                  </option>
                </select>
            </div>
            <div class="col-lg-5">
                <p class="text-info text-right" id='trace-dram-selector-help'></p>
            </div>
          </div>
        </div>

        <div class="form-group <%if (typeof errors != "undefined" && typeof errors.mail != "undefined") { %>has-error<% } %>">
          <div class="row">
            <div class="col-lg-3 align-self-center">
              <label id="datatype-content" class="control-label">
                <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                    data-content="Send an e-mail to this address when network inference has finished.">
                 </i>
                 Notify
              </label>
            </div>
            <div class="col-lg-7">
                <div class="input-group mail-group">
                  <span class="dm-input-group-addon input-group-addon border-right-0">
                    <input name="receive_mail" type="checkbox" value="on">
                  </span>
                  <input name="mail" type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <label id="datatype-content" class="control-label">
                  <i class="dm-fa fa fa-question-circle fa-fw helper_text" 
                      data-content="Compare uploaded sequences to the all of the public sequences, retrieved periodically from (hiv.lanl.gov)">
                  </i>
                  Compare to <abbr title="Los Alamos National Laboratory HIV database sequences" class="initialism">LANL</abbr>
              </label>
            </div>  
             <div class="col-lg-7">
              <div class="input-group">
                <label class="checkbox dm-input-group-addon input-group-addon rounded-right">
                    <input type="checkbox" name="public_db_compare" value="no"></input>
                </label>
              </div>
              <div id="compare-notification" class="alert alert-info hide"> Comparing to a public database is only available when for some of the reference sequences </div>
            </div>
          </div>
        </div>
        
        <button type="submit" class="continue-btn btn">
          Run Analysis
        <span class="dm-continue-btn fas fa-play"></span></button>

      </form>
    </div>
      
      
      
      
      
      
      
      
      
  </div>
</div>

<%- include ../includes/modal.ejs %>
<%- include ../includes/footer.ejs %>
<script src="/assets/js/hivtrace/form.js"></script>
