<%- include ../includes/header.ejs %>

<script type="text/json" id="last-status-update">
<%- last_status_msg %>
</script>


<div class="container">
  <h1 class="page-header">HIV-TRACE</h1>
  <div id="hiv-cluster-report" data-hivtraceid="<%= hivtrace._id %>">

  <% if (hivtrace.status == 'aborted') { %>

    <div class="alert alert-danger">There was an error! Please try again. <code><%= hivtrace.error_message %></code></div>

  <% } else if (hivtrace.status != 'completed') { %>  

      <h2>Job in Progress</h2>

      <div id="job-timer" data-created="<%= hivtrace.timestamp %>" style="float:right"><h3>Runtime <span class="time">00:00:00</span><h3></div>
     
      <div style="clear:both"></div>

      <div id='status-update-container'>
        <script type="text/template" class="hivtrace-status">
          {% _.each(rc.elems, function(item, key) { %}
            {% if (!item.msg) { %}
              <div class="hivtrace-status alert alert-{{rc.statuses[item.status]}}" role="alert">
                {{ item.title }} 
              </div>
            {% } else { %}
              <div class="panel panel-{{rc.statuses[item.status]}}" role="alert">
                <div class="panel-heading">
                  <div class="panel-title">
                    {{ item.title }} 
                  </div>
                </div>
                <div class="panel-body">
                  <pre>
                  {{ item.msg }} 
                  </pre>
                </div>
              </div>
            {% } %}
          {% }) %}
        </script>
      </div>

  <% } else { %>
    <%- include ./results.ejs %>
  <% } %>
  </div>

</div>
<%- include ../includes/footer.ejs %>
<script src="/assets/js/hivtrace/network.js"></script>
