<%- include ../includes/header.ejs %>
<div class="container">
  <h1 class="page-header">HIV TRACE</h1>
  <div id="hiv-cluster-report" data-hivtraceid="<%= hivtrace._id %>" data-socket-address="<%= socket_addr %>">
  <% if (hivtrace.status == 'Aborted') { %>
    <div class="alert alert-danger">There was an error! Please try again. <code><%= hivtrace.error_message %></code></div>
  <% } else if (hivtrace.status != 'Completed') { %>  
      <h2>Job in Progress</h2>
      <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= hivtrace.percentage_complete %>" aria-valuemin="1" aria-valuemax="100" style="width: <%= hivtrace.percentage_complete %>">
          <span class="sr-only"><%= hivtrace.percentage_complete %> Complete</span> 
        </div>
      </div>  
      <div id="job-timer" data-created="<%= hivtrace.timestamp %>" style="float:right"><h3>Runtime <span class="time">00:00:00</span><h3></div>
      <div style="clear:both"></div>
      <% for(var s = 0; s < hivtrace.status_stack.length; s++) { %>
        <div class="job-status alert 
        <%if (hivtrace.status_index < s) { %>  
        alert-info
        <% } else if (hivtrace.status_index == s) { %>  
        alert-warning
        <% } else { %>
        alert-success
        <% } %>
        "data-index=<%= s %>><%= hivtrace.status_stack[s] %></div>
      <% } %>
  <% } else { %>
    <%- include ./results.ejs %>
  <% } %>
  </div>
</div>
<%- include ../includes/footer.ejs %>
<script src="/assets/js/socket.io.min.js"></script>
<script src="http://d3js.org/d3.v3.js"></script>
<script src="/assets/js/hivtrace/network_graph.js"></script>
<% if (hivtrace.status != 'Aborted' && hivtrace.status != 'Completed') { %>
<script src="/assets/js/hivtrace/network.js"></script>
<% } %>
<script src="/assets/js/hivtrace/exportcsv.js"></script>
