<%- include("../includes/header.ejs") %>

<div class="container" id="job-report" data-jobid="<%= job._id %>">
  <%- include("header.ejs") %>
  <% if (job.status != 'completed') { %>
    <%- include("../partials/jobs/jobpage.ejs") %>
  <% } else { %>
    <%- include("./results.ejs") %>
  <% } %>
  </div>
</div>

<%- include("../includes/modal.ejs") %>
<%- include("../includes/footer.ejs") %>

