<%- include("../includes/header.ejs") %>
<div id="container" class="container">
  <%- include("header.ejs") %>
  <%- include("./msa_form.ejs") %>
  <%- include("../includes/modal.ejs") %>
</div>
<%- include("../includes/footer.ejs") %>
