<%- include ../../includes/header.ejs %>

<!--<a class="INFO" href="help/data.php">Preparing your data</a>&nbsp;-->
<!--Examples:-->
<!--<a class="INFO" href="data/Flu.fasta">Influenza A H5N1 hemagluttinin</a>&nbsp;-->
<!--<a class="INFO" href="data/pol.nex">HIV-1 pol (recombinant data)</a>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<div id="container" class="container">
  <h2 class="page-header">HIV TRACE</h2>
  <div id="form-error" class="alert alert-danger" <%if (typeof errors == "undefined") { %>style="display: none;"<% } %>>
      There were errors with your request. Errors are highlighted in red.
  </div>
  <div class="nav nav-list pull-right"><a href="/help#hivtrace-overview" target="_blank">I'm confused</a></div>
  <div class="row col-lg-9">
      <form role="form" class="form-horizontal" name="uploadform" enctype="multipart/form-data" method="post" action="/hivtrace/uploadfile/">
          <div id="trace-upload" class="form-group <%if (typeof errors != "undefined" && typeof errors.file != "undefined") { %>has-error<% } %>">
            <label id="upload-file-label" class="col-lg-3 control-label">Sequence Alignment</label>
            <div id="seq-file-div" class="col-lg-9">
                <input id="seq-file" type="file" name="files">
                <div id="file-progress" class="progress progress-striped active hidden">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= hivtrace.percentage_complete %>" aria-valuemin="1" aria-valuemax="100" style="width: <%= hivtrace.percentage_complete %>">
                    <span class="sr-only"><%= hivtrace.percentage_complete %> Complete</span>
                  </div>
                </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Reference</label>
            <div class="col-lg-9">
                <select name="reference">
                   <option value="HXB2_pol">HXB2_pol</option>
                   <option value="NL4-3_prrt">NL4-3_prrt</option>
                   <option value="HXB2_tat">HXB2_tat</option>
                   <option value="HXB2_int">HXB2_int</option>
                   <option selected="selected" value="HXB2_prrt">HXB2_prrt</option>
                   <option value="HXB2_pr">HXB2_pr</option>
                   <option value="HXB2_vif">HXB2_vif</option>
                   <option value="HXB2_nef">HXB2_nef</option>
                   <option value="HXB2_vpu">HXB2_vpu</option>
                   <option value="HXB2_rev">HXB2_rev</option>
                   <option value="HXB2_vpr">HXB2_vpr</option>
                   <option value="HXB2_env">HXB2_env</option>
                   <option value="HXB2_gag">HXB2_gag</option>
                   <option value="HXB2_rt">HXB2_rt</option>
                </select>
            </div>
          </div>
          <div class=" form-group <%if (typeof errors != "undefined" && typeof errors.distance_threshold != "undefined") { %>has-error<% } %>">
            <label id="datatype-content" class="col-lg-3 control-label">Distance Threshold</label>
            <div class="col-lg-9">
                <input class="form-control" name="distance_threshold" type="text" placeholder=".015" data-min=<%= validators.distance_threshold.min %> data-max=<%= validators.distance_threshold.max %>>
            </div>
          </div>
          <div class="form-group <%if (typeof errors != "undefined" && typeof errors.min_overlap != "undefined") { %>has-error<% } %>">
            <label id="datatype-content" class="col-lg-3 control-label">Minimum Overlap</label>
            <div class="col-lg-9">
                <input class="form-control" name="min_overlap" type="text" placeholder="500" data-min=<%= validators.min_overlap.min %> data-max=<%= validators.min_overlap.max %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Handle Ambiguities</label>
            <div class="col-lg-9">
                <select name="ambiguity_handling">
                  <option value="RESOLVE">
                    Resolve
                  </option>
                  <option selected="selected" value="AVERAGE">
                    Average
                  </option>
                  <option value="SKIP">
                    Skip
                  </option>
                  <option value="GAPMM">
                    GAPMM
                  </option>
                </select>
            </div>
          </div>
          <div id="fraction" class="hide form-group <%if (typeof errors != "undefined" && typeof errors.distance_threshold != "undefined") { %>has-error<% } %>">
            <label id="datatype-content" class="col-lg-3 control-label">Maximum Tolerated Fraction of Ambiguities</label>
            <div class="col-lg-9">
                <input class="form-control" name="fraction" type="text" placeholder="1." data-min=<%= validators.fraction.min %> data-max=<%= validators.fraction.max %>>
            </div>
          </div>
          <div class="form-group <%if (typeof errors != "undefined" && typeof errors.mail != "undefined") { %>has-error<% } %>">
            <label id="datatype-content" class="col-lg-3 control-label">Notify When Completed?</label>
            <div class="col-lg-9 input-group mail-group">
              <span class="input-group-addon">
                <input name="receive_mail" type="checkbox" value="on">
              </span>
              <input name="mail" type="text" class="form-control" placeholder="Email Address">
            </div>
          </div><!-- /form-group -->
          <div class="form-group">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9">
                <label class="checkbox">
                  <input type="checkbox" checked name="public_db_compare" value="yes"> Compare to public database</input>
                </label>
                <div id="compare-notification" class="alert alert-info hide"> Comparing to a public database is only available when using HXB2_prrt as a reference </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Continue</button>
      </form>
  </div>
</div>

<%- include ../../includes/footer.ejs %>
<script src="/assets/js/hivtrace/form.js"></script>
