<%- include("../includes/header.ejs") %>

<div class="container">

  <%- include("header.ejs") %>

  <h5 class='phylotree-header'>Select Test and Reference Branches</h5> 

  <div class="container" id="branch-selection-container"></div>

</div>

<%- include("../includes/modal.ejs") %>
<%- include("../includes/footer.ejs") %>

<script>
  // Get trees.
  var user_tree = "<%= relax.msa[0].usertree %>"
  user_tree == 'undefined' ? user_tree = undefined : null
  var nj_tree = "<%= relax.msa[0].nj %>"

  // Create callback for posting annotated tree.
  datamonkey_post_annotated_tree = function (annotated_tree) {

    var formData = new FormData();
    formData.append('nwk_tree', annotated_tree);

    var xhr = new XMLHttpRequest();
    var id = "<%= relax._id %>"
    xhr.open('post','/relax/' + id + '/select-foreground', true);
    xhr.onload = function(res) {
      // Replace field with green text, name of file
      var result = JSON.parse(this.responseText);
      if('_id' in result.relax) {
        window.location.href =  '/relax/' + result.relax._id;
      } else if ('error' in result) {
        datamonkey.errorModal(result.error);
      }
    };
    xhr.send(formData);
  }
  render_branch_selection("branch-selection-container", user_tree , nj_tree , datamonkey_post_annotated_tree, 800, 600, true)
</script>
