  <div class="row">

    <div id="job-status-animation" class="col-lg-5 job-status" data-status="<%= job.status %>">
       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <svg width="100" height="20">
              <circle class="queue" cx="7" cy="10" r="5"></circle>
              <circle class="running" cx="27" cy="10" r="5"></circle>
              <circle class="completed" cx="47" cy="10" r="5"></circle>
            </svg> 
          </h3>
        </div>

        <div class="panel-body">
          <table class="table borderless">
            <tbody>
              <tr><td><span class="glyphicon glyphicon-dashboard"></span><b> Job Status</b></td><td id="job-status-text"><%= job.status.capitalize() %></td></tr>
              <tr><td><span class="glyphicon glyphicon-tag"></span><b> Ticket Number</b></td><td id="torque_id">
              <% if(job.torque_id) { %> <%= job.torque_id %> <% } else { %> Waiting for Ticket Number <% } %> </td></tr>
              <tr id="wait-time-row" class="hidden"><td><span class="glyphicon glyphicon-time"></span><b> Waiting Time</b></td><td id="job-wait-time" data-created="<%=job.create_time %>">00:00:00</td></tr>
              <tr id="run-time-row" class="hidden"><td><span class="glyphicon glyphicon-time"></span><b> Running Time</b></td><td id="job-run-time" data-started="<%=job.start_time %>">00:00:00</td></tr>
              <!--<tr><td><span class="glyphicon glyphicon-time"></span><b> Time Since Last Status Update</b></td><td>00:00:00</td></tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6 job-status">
       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Job Queue
          </h3>
        </div>

        <div id="job-queue-panel" class="panel-body">
          <!-- include partial -->
          <%- include ../jobqueue.ejs %>
        </div>
      </div>
    </div>



  </div>

  <!--<div id="time-status">
    <div id="job-timer" data-created="<%= job.timestamp%>"><h6><span class="glyphicon glyphicon-time"></span><span class="time"> 00:00:00</span></h6></div>
  </div>-->

  <% if (job.status == 'aborted') { %>
    <div class="alert alert-danger">There was an error! Please try again. <code><%= job.error_message %></code></div>
  <% } else { %>  
  <div id="standard-output"  <% if(!job.last_status_msg) { %> class="hidden" <% } %> >
      <div class="panel-body">
        <h6> Standard Output </h6>
        <pre id="job-pre">
          <%= job.last_status_msg %>
        </pre>
      </div>
  <% } %>
  </div>
</div>

<script src="//cdn.socket.io/socket.io-1.0.6.js"></script>
<script src="/assets/js/job.js"></script>
