<div>

  <div class="row panel-status">

    <div class="col-lg-4">
      <ul class="list-unstyled">
        <li><span class="fa fa-dashboard"></span><h6> Job is currently </h6><span id="job-status-text"><%= job.status %></span></li>
        <li><span class="fa fa-tag"></span><h6> Ticket Number </h6><span id="torque_id"><% if(job.torque_id) { %> <%= job.torque_id %> <% } else { %> Waiting for Ticket Number <% } %> </span></li>
      </ul>
    </div>

    <div class="col-lg-4">
      <ul class="list-unstyled">
        <li id="job-run-time-row"><span class="fa fa-clock-o"></span><h6> Running for </h6><span id="job-run-time" data-started="<%=job.start_time %>">-</span></li>
        <li id="job-submitted-time-row"><span class="fa fa-calendar"></span><h6> Job submitted </h6><span id="job-created" data-started="<%=job.creation_time %>">-</span></li>
      </ul>
    </div>

    <div class="col-lg-4 dm-cancel-job-button-div">
      <button type="button" id="job-cancel-button" data-loading-text="Canceling job..." class="btn btn-danger pull-right" autocomplete="off">
       <span class="fa fa-times-circle"></span> Cancel Job
      </button>
    </div>

  </div>

<div>

<% if (job.status == 'aborted') { %>
  <div class="alert alert-danger"><%- job.generic_error_msg %></div>
<% } %>

<div id="standard-output" class="row">

  <div class="card-header col-12"> 
    <h2 class="pull-left">Progress</h2>
    <div class="pull-right">
      <a href="<%= job._id%>/log.txt">
        <button id="job-stdout-copy-button" class="btn btn-primary btn-sm pull-right" type="button">
          <span class="fa fa-download"></span> Download Log
        </button>
      </a>
    </div>
  </div>

  <div class="card-body">
    <div id="stdOut-container"></div>
  </div>
</div>

<div id="stdOut-placeholder" style="display:none">
  <%=job.last_status_msg || "## Intializing" %>
<div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="/assets/js/job.js"></script>

