<div class="row">

  <section class="bs-callout bs-callout-warning panel panel-status">

    <div class="panel-body">

      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li><span class="glyphicon glyphicon-dashboard"></span><h6> Job is currently </h6><span id="job-status-text"><%= job.status %></span></li>
          <li><span class="glyphicon glyphicon-tag"></span><h6> Ticket Number </h6><span id="torque_id"><% if(job.torque_id) { %> <%= job.torque_id %> <% } else { %> Waiting for Ticket Number <% } %> </span></li>
        </ul>
      </div>

      <div class="col-lg-4">
        <ul class="list-unstyled">
          <li id="run-time-row"><span class="glyphicon glyphicon-time"></span><h6> Running for </h6><span id="job-run-time" data-started="<%=job.start_time %>">-</span></li>
          <li id="job-submitted-time-row"><span class="glyphicon glyphicon-calendar"></span><h6> Job submitted </h6><span id="job-created" data-started="<%=job.creation_time %>">-</span></li>
        </ul>
      </div>

      <div class="col-lg-4 pull-right">
        <ul class="list-unstyled pull-right">
          <li class="job-cancel"><a href="void(0)" alt="Cancel Job"><span class="glyphicon glyphicon-remove-circle"></span></a></li>
        </ul>
      </div>

    </div>

  </section>

<% if (job.status == 'aborted') { %>
  <div class="alert alert-danger">There was an error! Please try again. <code><%= job.error_message %></code></div>
<% } %>

<div id="standard-output"  <% if(!job.last_status_msg) { %> class="hidden" <% } %> >
  <div class="panel-body">
    <h6> Standard Output </h6>
    <a href="<%= job._id%>/log.txt">
    <button id="job-stdout-copy-button" class="btn btn-default btn-sm pull-right" type="button">
      <span class="glyphicon glyphicon-download"></span> Download Log
    </button>
    </a>
    <pre id="job-pre"><%= job.last_status_msg %></pre>
  </div>
</div>

</div>

<script src="/assets/lib/socket.io-client/socket.io.js"></script>
<script src="/assets/lib/moment/moment.js"></script>
<script src="/assets/js/job.js"></script>
