<%- include includes/header.ejs %>

<div id="help-container" class="container">
  <div class="help-content tab-content col-sm-8">
    <%- include includes/help/datafiles.ejs %>
    <%- include includes/help/analyzing_data.ejs %>
    <%- include includes/help/hivtrace.ejs %>
    <%- include includes/help/busted.ejs %>
  </div>


  <!--Nav Bar -->
  <nav id="sidebar" class="col-xs-3 bs-docs-sidebar pull-right">
    <ul class="nav nav-stacked fixed">
      <li>
        <a href="#data-files">Data Files</a>
        <ul class="nav nav-stacked">
            <li><a href="#data-types">Data Types</a></li>
            <li><a href="#genetic-codes">Genetic Codes</a></li>
            <li><a href="#data-formats">Data Formats</a></li>
        </ul>
      </li>
      <li>
        <a href="#analyzing-data">Analyzing Data</a>
        <ul class="nav nav-stacked">
          <li><a href="#nucleotide-selection">Selecting a nucleotide model</a></li>
          <li><a href="#rooting">Rooting</a></li>
          <li><a href="#ambiguities">Ambiguities</a></li>
          <li><a href="#significance-levels">Significance Levels</a></li>
          <li><a href="#amino-acid-properties">Amino Acid Property Set</a></li>
          <li><a href="#rate-variation">Rate Variation</a></li>
        </ul>
      </li>
      <li>
        <a href="#hivtrace">HIV Trace</a>
        <ul class="nav nav-stacked">
          <li><a href="#hivtrace-usage">Usage</a></li>
        </ul>
      </li>
      <li>
        <a href="#busted">BUSTED</a>
        <ul class="nav nav-stacked">
          <li><a href="#busted-usage">Usage</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>


<span class="clear"></span>
<script src="/assets/js/help.js"></script>
<%- include includes/footer.ejs %>

