<%- include ../../includes/header.ejs %>

<link href="/assets/css/busted/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="/assets/lib/phylotree/phylotree.css" rel="stylesheet">
<link href="/assets/lib/datamonkey/relax/ui/css/datamonkey.relax.css" rel="stylesheet">
<link href="/assets/css/neighbor-join.css" rel="stylesheet">

<div class="container">
  <%- include header.ejs %>


  <div class='phylotree-container'>
    <h5 class='phylotree-header'>Foreground Selection<a href="/help#relax-foreground-selection" target="_blank"><sup>?</sup></a></h5> 

    <div class="col-lg-8 phylo-nav">
      <div class="btn-group">
        <button title="Expand spacing" id="expand_spacing" class="btn btn-default btn-sm" type="button">
            <i class="fa fa-expand"></i>
        </button>
         <button title="Compress spacing" id="compress_spacing" class="btn btn-default btn-sm" type="button">
            <i class="fa fa-compress"></i>
        </button>
         <button title="Sort deepest clades to the bototm" id="sort_ascending" class="btn btn-default btn-sm" type="button">
            <i class="fa fa-sort-amount-asc"></i>
        </button>
         <button title="Sort deepsest clades to the top" id="sort_descending" class="btn btn-default btn-sm" type="button">
            <i class="fa fa-sort-amount-desc"></i>
        </button>
         <button title="Restore original order" id="sort_original" class="btn btn-default btn-sm" type="button">
            <i class="fa fa-sort"></i>
        </button>
        <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" type="button">Selection <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a id="select_all" href="#">Select all</a></li>
              <li><a id="select_all_internal" href="#">Select only internal nodes</a></li>
              <li><a id="select_all_leaves" href="#">Select only leaf nodes</a></li>
              <li><a id="select_none" href="#">Clear selection</a></li>
           </ul>
      </div>
   </div>

    <div id="neighbor-tree" data-tree="<%= relax.msa[0].nj %>">
      <div id="tree-body">
        <div id='tree_container' class='tree-widget'></div>
      </div>
    </div>
  </div>
  
  <div class="select-element">
    <label id="analysis-content">Analysis Type<a href="/help#relax-analysis-types" target="_blank"><sup>?</sup></a></label> 
    <select name="analysis-type">
      <option selected="" value="0">
        All
      </option>
      <option value="1">
        Minimal
      </option>
    </select> 
  </div>

  <form action="/relax/<%= relax._id %>/select-foreground" enctype="multipart/form-data" method="POST" name="modelForm">
    <div>
      <button type="submit" class="btn pull-right"><span class="glyphicon glyphicon-play"></span></button>
    </div>
  </form>

</div>

<%- include ../../includes/modal.ejs %>
<%- include ../../includes/footer.ejs %>

<script src="http://d3js.org/d3.v3.js"></script>
<script src="/assets/lib/phylotree/phylotree.js"></script>
<script src="/assets/js/relax/fg-selection.js"></script>
